<div class="mod-overlay">
  <div class="overlay-bg"></div>
  <div class="info-window">
    <button class='close'></button>
    <h2 class="share">Share this map view</h2>
    <p class="share">
      Click and paste link
    </p>
    <div class="share-link">
      <input type="text" id="urlframe" readonly>
      <button id="embed" class="share-btn">EMBED</button>
      <button id="link" class="share-btn">LINK</button>
    </div>
  </div>
</div>




