clearfix()
  &:before, &:after
    content " "
    display table
  &:after
    clear both

grid($column)
  width $column * (100 / $grid-columns)% - $grid-gutter-width * 2

offset($column)
  margin-left $column * (100 / $grid-columns)% + $grid-gutter-width

form-field-reset()
  -webkit-appearance none
  appearance none
  box-shadow none
  background none
  border 0
  &:focus
    outline none

centery()
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

center()
  position relative
  top 50%
  left 50%
  -webkit-transform translate(-50%, -50%)
  transform translate(-50%, -50%)

arrow($width, $height, $right, $bottom, $color, $rotate)
    content ''
    position absolute
    right $right
    bottom $bottom
    width $height
    height $height
    border-bottom $width solid $color
    border-right $width solid $color
    transform rotate($rotate)

form-field-reset()
  -webkit-appearance none
  appearance none
  box-shadow none
  background none
  border 0
  &:focus
    outline none

