@media print
  body
    -webkit-print-color-adjust exact

  .is-btn
    display none !important

  .checkbox
    //float right !important
    display none !important

  .mod-results-buttons
    display none;

  // .mod-results-questions
  // .wrap
  //   page-break-before always !important


