// Grid system
$grid-max-width = 960px
$grid-min-width = 0
$grid-columns = 12
$grid-gutter-width = 1%

// Screens
$lg = 1400px
$md = 900px
$sm = 320px

// Typography
$site-font-family = "Open Sans", Helvetica, Arial, sans-serif
$site-font-size = 16px
$site-line-height = 1.2

// Theme
