.is-hidden
  display none
  visibility hidden

.is-btn
  height 50px
  font-size 21px
  color $color-5
  text-transform uppercase
  border 0
  padding: 0 30px
  background-color $color-1

.is-printable
  display none

@media print
  .is-printable
    display block

  .is-unprintable
    display none
