body
  display flex
  flex-direction column
  min-height 100vh

.layout-page
  display none
  flex 1
  position relative

  &.is-active
    display block

.layout-header
  border-bottom 1px solid $color-3

#printBtn
  position absolute
  right 1%
  top 50%
  margin-top -10px
  border 0
  padding-left 20px
  font-size 14px
  background transparent url('../images/print-icon_15x13.svg') no-repeat left
  background-size 15px 13px

  &:hover
    text-decoration underline
