body
  display flex
  flex-direction column
  min-height 100vh

.layout-page
  display none
  flex 1
  position relative

  &.is-active
    display block

.layout-header
  border-bottom 1px solid $color-3
