.layout-header

  border 0

  #headerView
    max-width 685px

.mod-nav
  position absolute
  right 0
  top 50%
  margin-top -10px

  ul
    padding 0
    list-style none

  li
    display inline-block
    margin-left 15px

  a
    color $color-2
    text-decoration none

    &:hover
      text-decoration underline

  .is-current
    border-bottom 5px solid $red

#printBtn
  border 0
  padding-left 20px
  font-size 14px
  background transparent url('../images/print-icon_15x13.svg') no-repeat left
  background-size 15px 13px

  &:hover
    text-decoration underline
