.mod-toolbar
  padding 20px 0

  .form-row
    margin 20px 0

  label, .selectize-control
    display inline-block
    vertical-align middle

  label
    width 20px

  .selectize-control
    width calc(100% - 24px)

  .checkbox
    display inline-flex
    padding 0 20px
    width auto
    height 48px
    font-size $site-font-size + 5
    border 1px solid $color-4
    align-items center

    input
      display inline-block
      margin-right 10px

  .checkbox, .is-btn
    float right
