
#export_generic_prod_%(table)s_dp {
  polygon-opacity: 0.2;
  line-color: #ACACAC;
  line-width: 1;
  line-opacity: 1;
}
#export_generic_prod_%(table)s_dp [answerscore <= 100] {polygon-fill: rgb(11,128,0);}
#export_generic_prod_%(table)s_dp [answerscore <= 75] {polygon-fill: rgb(86,205,30 );}
#export_generic_prod_%(table)s_dp [answerscore <= 50] {polygon-fill: rgb(255,255,169);}
#export_generic_prod_%(table)s_dp [answerscore <= 50] {polygon-fill: rgb(255,158,0);}
#export_generic_prod_%(table)s_dp [answerscore < 25] {polygon-fill: rgb(255,21,0);}
%(colors)s
